@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

:root {
  --c1: #f7f7f7;
  --c2: #ededed;
  --c3: #dedede;
  --c4: #cccccc;
  --c5: #b2b2b2;
  --c6: #9c9c9c;
  --c7: #717171;
  --c8: #595959;
  --c9: #404040;
  --c10: #2e2e2e;
  --c11: #111111;
  --c12: #000000;
  --w: #ffffff;
  --p1: #ffbb00;
  --p2: #e4a30b;
  --p3: #a66f00;
  --p4: #664400;
  --p5: #332200;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

a {
  color: inherit;
}

/* BOTÃO AMARELOS */

.btn {
  display: inline-block;
  padding: 16px 32px;
  background-image: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--p5);
  font-weight: bold;
}

.btn:hover {
  background-image: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
  .btn {
    padding: 8px 16px;
    font-size: 0.75rem;
  }
}

.btn.secundario {
  background: var(--c10);
  color: var(--c2);
}

.btn.secundario:hover {
  background: var(--c9);
}

/* LINK AMARELOS */
.link {
  display: inline-block;
  color: var(--p1);
  font: 600 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
  transition: 0.1s;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.link:hover {
  color: var(--w);
}

@media (max-width: 900px) {
  .link {
    font: 400 1.125rem/1.1 "Poppins", sans-serif;
  }

  .link::after {
    height: 2px;
    margin-top: 3px;
  }
}

/* PONTO AMARELO */

.ponto {
  color: var(--p1);
}

/* ESTILOS TIPOGRAFICOS - FONTS */
/* POPPINS */

.font-1-p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
}

.font-1-m {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.5;
}

.font-1-g {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  line-height: 1.125;
}

/* ROBOTO */

.font-2-p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125;
}

.font-2-m {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
}

.font-2-g {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5;
}

.font-2-gg {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.25;
}

/* CORES */
.c0 {
  color: var(--w);
}
.c1 {
  color: var(--c1);
}
.c2 {
  color: var(--c2);
}
.c3 {
  color: var(--c3);
}
.c4 {
  color: var(--c4);
}
.c5 {
  color: var(--c5);
}
.c6 {
  color: var(--c6);
}
.c7 {
  color: var(--c7);
}
.c8 {
  color: var(--c8);
}
.c9 {
  color: var(--c9);
}
.c10 {
  color: var(--c10);
}
.c11 {
  color: var(--c11);
}
.c12 {
  color: var(--c12);
}
.p1 {
  color: var(--p1);
}
.p2 {
  color: var(--p2);
}
.p3 {
  color: var(--p3);
}
.p4 {
  color: var(--p4);
}
.p4 {
  color: var(--p5);
}
